* {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

  main{
      width: 100vw;
  }

  .carouselContainer{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      margin-left: 10px;
      width: 500px;
      height: 500px;
      max-width: 1000px;
      max-height: 1000px;
      min-height: 500px;
      position: relative;
  }

  #leftArrow, #rightArrow{
      height: 40px;
      width: 40px;
      border-radius: 50px;
      border: none;
      background-color: transparent;
  }

  .arrowsWrapper{
      display: flex;
      width: 95%;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      position: absolute;
  }

  .fa-arrow-circle-left, .fa-arrow-circle-right{
    font-size: 40px;
    color: white;
  }

  .imgSlide{
    display: flex;
    object-fit: cover;
    width: 500px;
    height: 500px;
  }

  .imgSlideNone{
      display: none;
  }
  
  .imageContainer{
      width: 100%;
      height: 100%;
  }

  .fa-circle{
    color:white;
    font-size: 25px;
  }

  .circleBtn{
    border: none;
    background-color: transparent;
  }

  #circlesContainer{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: flex-end;
    justify-content: space-around;
    position: absolute;
    margin-bottom: 60px;
  }